.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    transition: 400ms !important;
}

/* Active bullet style */
.swiper-pagination-bullet-active {
    background-color: white !important;
    width: 50px !important;
    height: 10px !important;
    border-radius: 10px !important;
    transition: 400ms !important;
}